<h1>Binding assignment</h1>
<h4>Text interpolation</h4>
<p>{{textInterpolation}}</p>
<br><hr>
<h4>Property Binding</h4>
<span [innerHtml]="propertyBinding"></span>
<br><hr>
<h4>Style Binding</h4>
<h1 [style.color]="'blue'">this is example of Style Binding with color blue</h1>
<br><hr>
<h4>Attribute Binding</h4>
<button [attr.aria-label]="buttonAction">{{buttonAction}}</button>
<br><hr>
<h4>Class Binding</h4>
<h1 [class] = "hero">
  This is example of class binding 
 </h1>
 Upper Heading's class is : "{{ g[0].className }}"
<br><hr>
<h4>Event Binding</h4>
<button (click)="EventBiding()">Event Binding</button>
<br><hr>
<h4>Two way Binding</h4>
<input type="text" [(ngModel)]="twoWayBinding">
<br>
<p>{{twoWayBinding}}</p>
<br><hr>